# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data (Never commit large raw data or sensitive user data to GitHub)
data/

# Model Weights (Allow ONLY production models to be committed)
assets_1/models/*.pkl
!assets_1/models/Logistic_Regression_v2.pkl
!assets_1/models/Optimized_Random_Forest_v2.pkl
!assets_1/models/XGBoost_v2.pkl
!assets_1/models/KNN_v2.pkl
!assets_1/models/preprocessor.pkl

# Visualizations (Optional to ignore if you want to show them off, but we will keep them tracked for the README)
# assets_1/eval/*.png 

# Un-tracked random media/video files in assets root
/assets_1/*.mp4
/assets_1/*.jpeg
/assets_1/*.jpg
/assets_1/*.zip

# Virtual Environments
venv/
env/
.venv/

# IDE specific files
.vscode/
.idea/
.ipynb_checkpoints/

# OS specific files
.DS_Store
Thumbs.db

# Dependencies
/node_modules
/.pnp
.pnp.*

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env*
.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
# Documentation & Notebooks
notebooks_1/Project.ipynb
