# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data (Never commit large raw data or sensitive user data to GitHub)
data/

# Model Weights (These are large binaries, generate them locally)
assets/models/*.pkl

# Visualizations (Optional to ignore if you want to show them off, but we will keep them tracked for the README)
# assets/eval/*.png 

# Un-tracked random media/video files in assets root
/assets/*.mp4
/assets/*.jpeg
/assets/*.jpg
/assets/*.zip

# Virtual Environments
venv/
env/
.venv/

# IDE specific files
.vscode/
.idea/
.ipynb_checkpoints/

# OS specific files
.DS_Store
Thumbs.db

# Dependencies
/node_modules
/.pnp
.pnp.*

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts