# Core Data Science (Inference)
pandas==2.2.2
scikit-learn==1.5.2
joblib==1.5.3
xgboost==2.1.1
imbalanced-learn==0.12.3

# Backend API
fastapi==0.115.0
pydantic==2.9.2
uvicorn==0.30.6
gunicorn==23.0.0
python-multipart==0.0.9
